html,body{
	margin:0;
	padding:0;
	font-family: 'Verdana';
}
.float-right{
	float: right;
}
.mr-150{
	margin-right: 150px;
}
.no-margin{
	margin: 0 !important;
}
#header{
	background-color: #2D2F35;
	padding: 5px 15px;
	border-bottom: 1px solid #474A51;
}
#home-intro{
	background: url(../images/bg_home_intro.gif);
	height: 300px;
	border-bottom: 1px solid #474A51;
	
}
.col-left{
	max-width: 400px;
	padding: 15px 150px;
}
.col-title{
	color: #FFFF00;
	font-size: 16px;
	position: relative;
	z-index: 2;

}
.text-content{
	color: #78797B;
	font-size: 12px;
	margin-top:30px;
	position: relative;
	z-index: 2;
}
#image-section{
	background-color: #2D2F35;
	border-bottom: 1px solid #474A51;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 15px;
	display: flex;
}
.img-item{
	margin-right: 15px;
	position: relative;
}
.img-index{
	position: absolute;
	right: 0;
	top: 0;
}
#service-section{
	background-color: #2D2F35;
	display: flex;
	border-bottom: 1px solid #474A51;
}
.sv-col-left, .sv-col-right{
	max-width: 50%;
	padding: 30px 145px;
	position: relative;
}
#sv-left-img{
	position: absolute;
	bottom: 50px;
	right: 150px;
	z-index: 1;
}
#sv-right-img{
	position: absolute;
	left: 150px;
	top: 30px;
	z-index: 1;
}
#footer{
	background: url(../images/bg_footer.gif);
	height: 100px;
	text-align: center;
	padding-top: 15px;
}
.copyright{
	margin: 0;
	color: #fff;
}